body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: Poppins, Arial;
  width: 1440px;
}

.main {
  width: 1280px;
  margin-left: 86px;
  display: grid;
  place-content: space-between;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

a {
  text-decoration: none;
  color: #9f9f9f;
  cursor: pointer;
}

a:hover {
  color: #f71963;
}

ul {
  list-style: none;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

button {
  display: block;
}

h3 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #f71963;
  padding: 30px;
}