
.menu-container {
  display: flex;
  place-content: space-between;
  
}
.menu-section {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}

.menu {
  padding: 0px;
  display: flex;
  gap: 45px
}
.menu button {
  padding: 34px;
  border-radius: 10px;
  width: 144px;
  height: 174px;
  border: none;
  cursor: pointer;
}
.menu button:hover {
  background-color: #ffffff;
}
.menu-item {
  cursor: pointer;
  text-align: center;
}
.menu-item:hover {
  color: #f71963;
}