.header {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}
.secure-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-left: 80px;
  flex-wrap: wrap;
}
.secure-purchase-item {
  display: flex;
  align-items: center;
  gap: 9px;
  
}
.secure-section p {
  font-size: 12px;
  color: #9f9f9f;
}
.secure-section strong {
  color: #f71963;
}
.secure-purchase-item a {
  cursor: pointer;
}

